* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #ccc;
  padding: 10px;
  /* 9 */
  /* height: 1500px; */

  display: flex;
  /* 1 */
  flex-direction: row;
  /* 2 */
  justify-content: center;
  /* 4 */
  /* align-items: center; */
  /* 5 */
  /* align-items: flex-start; */
  /* 6 */
  /* align-items: flex-end; */
  /* 7 */
  /* align-items: stretch; */
  /* 8 */
  /* align-items: baseline; */
  /* 9 */
  /* flex-direction: column; */
}

.item {
  background-color: #f1425c;
  padding: 30px;
  margin: 30px;
  font-size: 40px;
  color: #fff;
}

.i2 {
  /* 3 */
  height: 200px;
}

.i4 {
  /* 8 */
  /* font-size: 90px; */
}
